html, body {
    height: 100%;
}

#sidebar {
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
}

.my-animation {
    display: inline-block;
    margin: 0 0.5rem;

    animation: fast; 
    animation-duration: 2s; 
}

.gifName:hover {
    cursor: pointer ;
}